{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %} 

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{{ ASSETS_ROOT }}/img/bg9.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">TPPSOMT</h1>
            <p class="lead mb-4 text-white opacity-8">the Team Pursuit Performance and Strategy Optimisation Modelling Tool</p>
            <h6 class="text-white mb-2 mt-5">About us</h6>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <h6>Jieru Lei</h6>
                  <p>a1816893@adelaide.edu.au</p>
                  <h6>Haiyang Wang</h6>
                  <p>a1841615@adelaide.edu.au</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <h6>Junyan Dong</h6> 
                  <p>a1832574@adelaide.edu.au</p>
                  <h6>Kengtian Lu</h6> 
                  <p>a1840363@adelaide.edu.au</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col-md-6">
                <div class="info">
                  <h6>ZhiQiang Tan</h6> 
                  <p>a1841835@adelaide.edu.au</p>
                  <h6>Canhui Jiang</h6> 
                  <p>a1842122@adelaide.edu.au</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <h6>Hongxing Hao</h6> 
                  <p>a1845302@adelaide.edu.au</p>
                  <h6>Yuwei Sun</h6>  
                  <p>a1841266@adelaide.edu.au</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="{{ ASSETS_ROOT }}/img/UoAC_Mel.jpg" alt="img-colored-shadow" class="img-fluid border-radius-lg">
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <a href="javascript:;">CYCIN-Mel</a>
                </h5>
                <p class="mb-0">
                  The best team in the software engineering and project course in the 2022 semester 2d.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}
