{% extends "layouts/base.html" %}

{% block title %} Contact US {% endblock %} 

{% block body_class %} contact-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-light.html' %} 

  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <!-- <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{{ ASSETS_ROOT }}/img/illustrations/illustration-signin.jpg'); background-size: cover;" loading="lazy"></div>
          </div> -->
          <div class="col-lg-12 ms-lg-auto col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <!-- <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5"> -->
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <!-- <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0">Contact us</h3>
                </div> -->
                <div class="dropdown">
                  <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Create a new
                  </button>
                  <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <!-- <p class="pb-3">
                  For calculation, please input some constants.
                </p> -->
                <form id="contact-form" method="post" autocomplete="off">
                  <div class="card-body p-0 my-3">
                    <div class="row">
                      <div class="col-md-3 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>df</label>
                          <input id="df" name="df" type="text" class="form-control" placeholder="0.000">
                          <span class="input-group-text text-xs text-muted">sec</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>v0</label>
                          <input id="v0" name="v0" type="text" class="form-control" placeholder="0.0">
                          <span class="input-group-text text-xs text-muted">m/sec</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>hl length</label>
                          <input id="hl_length" name="hl_length" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">m</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>rho</label>
                          <input id="rho" name="rho" type="text" class="form-control" placeholder="0.000">
                          <span class="input-group-text text-xs text-muted">kg/m^3</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>bike length</label>
                          <input id="bike_length" name="bike_length" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">m</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>spacing</label>
                          <input id="spacing" name="spacing" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">m</span>
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>weight dist fr-rr</label>
                          <input id="weight" name="weight" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">%</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>crr front</label>
                          <input id="crr_front" name="crr_front" type="text" class="form-control" placeholder="0.0000">
                          <span class="input-group-text text-xs text-muted"></span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>crr rear</label>
                          <input id="crr_rear" name="crr_rear" type="text" class="form-control" placeholder="0.0000">
                          <span class="input-group-text text-xs text-muted"></span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>mu-scrub</label>
                          <input id="mu_scrub" name="mu_scrub" type="text" class="form-control" placeholder="0.0000">
                          <span class="input-group-text text-xs text-muted"></span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>efficiency</label>
                          <input id="efficiency" name="efficiency" type="text" class="form-control" placeholder="0">
                          <span class="input-group-text text-xs text-muted">%</span>
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>mol who front</label>
                          <input id="front_mol" name="front_mol" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">kg·m^2</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>mol who rear</label>
                          <input id="rear_mol" name="rear_mol" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">kg·m^2</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>wheel radius</label>
                          <input id="wheel_radius" name="wheel_radius" type="text" class="form-control" placeholder="0.000">
                          <span class="input-group-text text-xs text-muted">m</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>time standing</label>
                          <input id="time_standing" name="time_standing" type="text" class="form-control" placeholder="0">
                          <span class="input-group-text text-xs text-muted">sec</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>track geo</label>
                          <select class="form-control" id="track_geo" name="track_geo">
                            <option value="BRI">BRI</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>dist from black line</label>
                          <input id="distance" name="distance" type="text" class="form-control" placeholder="0.0">
                          <span class="input-group-text text-xs text-muted">m</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>lap 1 profile</label>
                          <input id="lap1_profile" name="lap1_profile" type="text" class="form-control" placeholder="Male">
                          <span class="input-group-text text-xs text-muted"></span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>reaction time</label>
                          <input id="reaction" name="reaction" type="text" class="form-control" placeholder="0.00">
                          <span class="input-group-text text-xs text-muted">sec</span>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>2nd team</label>
                          <select class="form-control" id="team_2nd name="team_2nd">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                        </div>
                        <div class="input-group input-group-static mb-4">
                          <label>p1 cda scaling</label>
                          <input id="distance" name="distance" type="text" class="form-control" placeholder="0.0000">
                          <span class="input-group-text text-xs text-muted"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                      <div class="col-md-2 ps-md-2">
                        <div class="input-group input-group-outline mt-3 mb-0">
                          <label class="form-label">Constant name</label>
                          <input id="name" name="name" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-2 ps-md-2">
                        <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Save</button>
                        <!-- <button type="cancel" class="btn bg-gradient-light mt-3 mb-0">Cancel</button> -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
