{% extends "layouts/base.html" %}

{% block title %} Contact US {% endblock %} 

{% block body_class %} contact-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-light.html' %} 
   
  <div class="card shadow-lg overflow-hidden mx-sm-7 my-6">
    <div class="row">
      <div class="col-lg-5 position-relative bg-cover px-0">
        <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
          <div class="mask bg-gradient-dark opacity-8"></div>
          <div class="p-5 ps-sm-8 position-relative text-start my-auto z-index-2">
            <div class="row">
              <h3 class="text-white">Riders</h3>
              <p class="text-white opacity-8 mb-4">Please  select a rider or create a new.</p>
              <div class="input-group input-group-static mb-4">
                <select class="form-control text-white option-white" id="rider-list">
                  <option value="" selected>&lt;new rider&gt;</option>
                  {% for r in rider_list %}
                    <option value="{{ r.id }}" {% if r.id == rider.id %}" selected "{% endif %}>{{ r.profile }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <form class="p-3" method="post" id="detail-form">
          {% csrf_token %}
          <div class="card-header">
            <h3>Details</h3>
            <p>Here are the details of the rider you have chosen or you intend to create as a new one.</p>
          </div>
          <div class="card-body pt-1">
            <div class="row">
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Rider Profile</label>
                  <input id="profile" name="profile" value="{{ rider.profile|default:'' }}" type="text" class="form-control" placeholder="eg. Tim">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Mass</label>
                  <input id="mass" name="mass" value="{{ rider.mass|default:'' }}" type="text" class="form-control" placeholder="00">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>CDA Seated</label>
                  <input id="cda_seated" name="cda_seated" value="{{ rider.cda_seated|default:'' }}" type="text" class="form-control" placeholder="0.000">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>CDA Standing</label>
                  <input id="cda_standing" name="cda_standing" value="{{ rider.cda_standing|default:'' }}" type="text" class="form-control" placeholder="0.000">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Seat Height from groud</label>
                  <input id="seat_height" name="seat_height" value="{{ rider.seat_height|default:'' }}" type="text" class="form-control" placeholder="0.00">
                  <span class="input-group-text text-xs text-muted">m</span>
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Turn 1 power</label>
                  <input id="turn1_power" name="turn1_power" value="{{ rider.turn1_power|default:'' }}" type="text" class="form-control" placeholder="0.00">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Turn 2 power</label>
                  <input id="turn2_power" name="turn2_power" value="{{ rider.turn2_power|default:'' }}" type="text" class="form-control" placeholder="0.00">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Turn 3 power</label>
                  <input id="turn3_power" name="turn3_power" value="{{ rider.turn3_power|default:'' }}" type="text" class="form-control" placeholder="0.00">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Turn 4 power</label>
                  <input id="turn4_power" name="turn4_power" value="{{ rider.turn4_power|default:'' }}" type="text" class="form-control" placeholder="0.00">
                </div>
              </div>
              <div class="col-md-6 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                  <label>Turn 5 power</label>
                  <input id="turn5_power" name="turn5_power" value="{{ rider.turn5_power|default:'' }}" type="text" class="form-control" placeholder="0.00">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-end ms-auto">
                <button id="save" name="action" value="save"  type="submit" class="btn bg-gradient-info mb-0">Svae</button>
                <button id="delete" name="action" value="delete" type="cancel" class="btn bg-gradient-light mb-0">Delete</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $("#rider-list").change(function(){
    window.location = "{% url 'strategy:rider' %}" + (this.value ? this.value + "/" : "")
  })
</script>
{% endblock javascripts %}
