{% extends "layouts/base.html" %}

{% block title %} Contact US {% endblock %} 

{% block body_class %} contact-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-light.html' %} 

  <!-- <div class="card shadow-xl overflow-hidden mx-6 my-6"> -->
  <div class="card d-flex blur justify-content-center shadow-lg mx-sm-7 my-6">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
      <div class="row">
        <div class="col-md-3">
          <select id="strategy-list" class="btn btn-lg bg-gradient-primary text-start option-white" aria-expanded="false">
            <option value="">New Strategy</option>
            {% for s in strategy_list %}
              <option value="{{ s.id }}" {% if s.id == strategy.id %}" selected "{% endif %}>{{ s.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-4 mt-3 pt-3">
          <label>Constant Template: &nbsp;</label>
          <select id="constant-list" class="bg-transparent" style="border:none; border-bottom:1px #d2d6da solid; font-size:0.875rem; color:#495057; width:35%;">
            <option></option>
            {% for c in constant_list %}
              <option value="{{ c.id }}" {% if c.id == strategy.constant.id %}" selected "{% endif %}>{{ c.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="card-body mt-0 pt-0">
      <form id="strategy-form" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" id="constant" name="constant" value="{{ strategy.constant.id|default:'' }}">
        <div class="card-body p-0 my-3">
          <div class="row">
            <div class="col-md-2 pt-3 px-4 m-0 blur shadow-sm border-radius-lg bg-transparent">
              <div id="rider-list" class="input-group input-group-static mb-4">
                <label>Riders Order <i class="fa fa-chevron-circle-up fa-spin fa-sm" aria-hidden="true"></i></label>
                <select class="form-control" id="rider1" name="rider1">
                  <option></option>
                  {% for rider in rider_list %}
                  <option value="{{ rider.id }}" {% if rider.id == strategy.rider1.id %}" selected "{% endif %}>{{ rider.profile }}</option>
                  {% endfor %}
                </select>
                <select class="form-control" id="rider2" name="rider2">
                  <option></option>
                  {% for rider in rider_list %}
                  <option value="{{ rider.id }}" {% if rider.id == strategy.rider2.id %}" selected "{% endif %}>{{ rider.profile }}</option>
                  {% endfor %}
                </select>
                <select class="form-control" id="rider3" name="rider3">
                  <option></option>
                  {% for rider in rider_list %}
                  <option value="{{ rider.id }}" {% if rider.id == strategy.rider3.id %}" selected "{% endif %}>{{ rider.profile }}</option>
                  {% endfor %}
                </select>
                <select class="form-control" id="rider4" name="rider4">
                  <option></option>
                  {% for rider in rider_list %}
                  <option value="{{ rider.id }}" {% if rider.id == strategy.rider4.id %}" selected "{% endif %}>{{ rider.profile }}</option>
                  {% endfor %}
                </select>
                <select class="form-control" id="rider5" name="rider5">
                  <option></option>
                  {% for rider in rider_list %}
                  <option value="{{ rider.id }}" {% if rider.id == strategy.rider5.id %}" selected "{% endif %}>{{ rider.profile }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-2 pt-3 px-4 m-0">
              <div id="turn1" class="input-group input-group-static mb-4">
                <label>Turn 1 </label>
                <input id="turn1_1" name="turn1_1" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn1_1|default:'' }}">
                <input id="turn1_2" name="turn1_2" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn1_2|default:'' }}">
                <input id="turn1_3" name="turn1_3" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn1_3|default:'' }}">
                <input id="turn1_4" name="turn1_4" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn1_4|default:'' }}">
                <input id="turn1_5" name="turn1_5" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn1_5|default:'' }}">
              </div>
            </div>
            <div class="col-md-2 pt-3 px-4 m-0">
              <div id="turn2" class="input-group input-group-static mb-4">
                <label>Turn 2</label>
                <input id="turn2_1" name="turn2_1" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn2_1|default:'' }}">
                <input id="turn2_2" name="turn2_2" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn2_2|default:'' }}">
                <input id="turn2_3" name="turn2_3" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn2_3|default:'' }}">
                <input id="turn2_4" name="turn2_4" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn2_4|default:'' }}">
                <input id="turn2_5" name="turn2_5" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn2_5|default:'' }}">
              </div>
            </div>
            <div class="col-md-2 pt-3 px-4 m-0">
              <div id="turn3" class="input-group input-group-static mb-4">
                <label>Turn 3</label>
                <input id="turn3_1" name="turn3_1" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn3_1|default:'' }}">
                <input id="turn3_2" name="turn3_2" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn3_2|default:'' }}">
                <input id="turn3_3" name="turn3_3" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn3_3|default:'' }}">
                <input id="turn3_4" name="turn3_4" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn3_4|default:'' }}">
                <input id="turn3_5" name="turn3_5" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn3_5|default:'' }}">
              </div>
            </div>
            <div class="col-md-2 pt-3 px-4 m-0">
              <div id="turn4" class="input-group input-group-static mb-4">
                <label>Turn 4<label>
                  <input id="turn4_1" name="turn4_1" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn4_1|default:'' }}">
                  <input id="turn4_2" name="turn4_2" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn4_2|default:'' }}">
                  <input id="turn4_3" name="turn4_3" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn4_3|default:'' }}">
                  <input id="turn4_4" name="turn4_4" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn4_4|default:'' }}">
                  <input id="turn4_5" name="turn4_5" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn4_5|default:'' }}">
                </div>
            </div>
            <div class="col-md-2 pt-3 px-4 m-0">
              <div id="turn5" class="input-group input-group-static mb-4">
                <label>Turn 5</label>
                <input id="turn5_1" name="turn5_1" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn5_1|default:'' }}">
                <input id="turn5_2" name="turn5_2" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn5_2|default:'' }}">
                <input id="turn5_3" name="turn5_3" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn5_3|default:'' }}">
                <input id="turn5_4" name="turn5_4" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn5_4|default:'' }}">
                <input id="turn5_5" name="turn5_5" type="text" class="form-control" placeholder="0.00" value="{{ strategy.turn5_5|default:'' }}">
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-3 ps-md-2">
              <p class="mt-4 mb-0">
                Checksum 16 laps?&nbsp;<b id="laps" class="text-danger">0.00</b>&nbsp;laps
              </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 ps-md-2">
              <div class="input-group input-group-outline mt-3 mb-0 is-filled">
                <label class="form-label">strategy name</label>
                <input id="name" name="name" type="text" class="form-control" value="{{ strategy.name|default:'' }}">
              </div>
            </div>
            <div class="col-md-3 ps-md-2">
              <button type="submit" name="action" value="save" class="btn bg-gradient-primary mt-3 mb-0">Calculate</button>
              <button type="submit" name="action" value="delete" class="btn bg-gradient-light mt-3 mb-0">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $("#turn1, #turn2, #turn3, #turn4, #trun5").on("change", "input", (event)=>{
    var sum = 0;
    $("#turn1, #turn2, #turn3, #turn4, #trun5").find("input").each((_, e) => {
      var val = parseFloat(e.value);
      if (!isNaN(val)) {
        sum += val;
      }
    })
    $("#laps").text(sum.toFixed(2));
  })

  $("#rider-list").on('change', 'select', (event)=>{
    var self = event.target;
    if(self.value) {
      $("#rider-list select")
        .filter((_, e)=>{return e != self && e.value == self.value})
        .each((_, e) => {$(e).val("")});
    }
  })

  $("#strategy-list").change(function(){
    window.location = "{% url 'strategy:strategy' %}" + (this.value ? this.value + "/" : "")
  })

  $("#constant-list").change(function(){
    console.log(this.value);
    $("#constant").val(this.value);
  })

</script>
{% endblock javascripts %}
