  <!-- Navbar Light -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
      <a class="navbar-brand" href="/" rel="tooltip" title="Designed and Coded by CYCIN-Mel" data-placement="bottom">
        TPPSOMT
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-5">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages5" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
              Strategy
              <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
            </a>
            <div class="dropdown-menu ms-n3 dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages5">
              <div class="d-none d-lg-block">
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Constants</span>
                </a>
                <a href="{% url 'strategy:rider' %}" class="dropdown-item border-radius-md">
                  <span>Riders</span>
                </a>
                <a href="{% url 'strategy:strategy' %}" class="dropdown-item border-radius-md">
                  <span>Strategies</span>
                </a>
              </div>
              <div class="d-lg-none">
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Constants</span>
                </a>
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Riders</span>
                </a>
                <a href="{% url 'strategy:strategy' %}" class="dropdown-item border-radius-md">
                  <span>Strategies</span>
                </a>
              </div>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a href="/about-us.html" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" aria-expanded="false">
              <i class="material-icons opacity-6 me-2 text-md">article</i>
              About us
              <span class="arrow ms-auto ms-md-2"></span>
            </a>
          </li>

          {% if request.user.is_authenticated %}
            <li class="nav-item ms-lg-auto">
              <a class="nav-link nav-link-icon me-2" 
                href="{% url 'logout' %}">
                <i class="fa fa-sign-out me-1"></i>
                <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign OUT">Logout</p>
              </a>
            </li>          
          {% endif %}    
                
        </ul>
      </div>
    </div>
  </nav>