  <!-- Navbar Transparent -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white " href="/" rel="tooltip" title="Designed and Coded by CYCIN-Mel" data-placement="bottom">
        TPPSOMT
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons opacity-6 me-2 text-md">article</i>
              Strategy
              <img src="{{ ASSETS_ROOT }}/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
              <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-none d-block">
            </a>
            <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
              <div class="d-none d-lg-block">
                <!-- <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                  Landing Pages
                </h6> -->
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Constants</span>
                </a>
                <a href="{% url 'strategy:rider' %}" class="dropdown-item border-radius-md">
                  <span>Riders</span>
                </a>
                <a href="{% url 'strategy:strategy' %}" class="dropdown-item border-radius-md">
                  <span>Strategies</span>
                </a>
              </div>
              <div class="d-lg-none">
                <!-- <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                  Landing Pages
                </h6> -->
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Constants</span>
                </a>
                <a href="{% url 'strategy:constant' %}" class="dropdown-item border-radius-md">
                  <span>Riders</span>
                </a>
                <a href="{% url 'strategy:strategy' %}" class="dropdown-item border-radius-md">
                  <span>Strategies</span>
                </a>
              </div>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item ns-lg-auto">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" 
              href="/about-us.html">
              <i class="material-icons opacity-6 me-2 text-md">view_day</i>
              About us
            </a>
          </li>
          
          {% if request.user.is_authenticated %}
            <li class="nav-item ms-lg-auto">
              <a class="nav-link nav-link-icon me-2" 
                href="{% url 'logout' %}">
                <i class="fa fa-sign-out me-1"></i>
                <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign OUT">Logout</p>
              </a>
            </li>          
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->